.placeholder {
    color: rgb(204, 196, 196);
}

a {
    font-size: 12px;
    text-decoration: none;
}

/* Add underline when the link is clicked or focused */
a:focus, a:hover {
    text-decoration: underline;
}

#NewAcc {
    align-items: center;
    background-color: rgb(1, 174, 1);
    color: white;
    display: inline-block;
}

#textbelow {
    font-size: 12px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

body {
    background-color: rgb(242, 244, 247)
}

#desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.1;
}